.header {
  width: 100%;
  height: 100px;
  background-color: #333;
  padding: 20px;
  box-sizing: border-box;
  border: 10px dashed #fff;

  /* Mặc định của background-clip */
  background-clip: border-box;

  /* Đổ màu từ padding vào */
  background-clip: padding-box;

  /* Đổ màu từ content */
  background-clip: content-box;
}
